<a href="https://colab.research.google.com/github/anjalipaladi/Named-Entity-Recognition/blob/main/Set_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [4, 2, 4, 5, 2, 3, 5, 1]
result = []
for num in numbers:
    if num not in result:
        result.append(num)
print(result)

[4, 2, 5, 3, 1]

In [2]:
lst = [2, 4, 3, 5, 7, 8, -1]
target = 6
pairs = set()
for num in lst:
    if (target - num) in lst:
        pairs.add(tuple(sorted((num, target - num))))
print(list(pairs))

[(2, 4), (3, 3), (-1, 7)]